
nav{
    height: 100px;
    background-color: rgb(0, 140, 255);
    background-image: url(img/pattern.png);
}

#logo{
    
    height: 70px;
    width: 190px;
}

.one{
    color: rgb(9, 110, 224);
}

span {
    font-weight: bold;
}
/* evidenzio una parte del testo utilizzando background coloro  su <span> */
.evidenziato{ 
    background-color: yellow;
}
/*  potevo utilizzare il tag <mark> che di default te lo da GIALLO per altri colori bisogna aggiungere lo stile */
table{
   text-align: left;
   border-collapse: collapse;
}

.colonna1{
    width: 25%;

}
.colonna2{
        width: 25%;
}

thead{
    background-color: rgb(0, 132, 255);
    color: white;
    width: 100%;
}

td{
    background-color: lightskyblue;
}

.white{
    background-color: white;
}

.pi{
    color: lightslategray;
    font-weight: bold;

}

.container{
    text-align: left;
    padding: 50px;
}